{% extends '_base.html' %}
{% block title %}
    {{ blog.title }}
{% endblock title %}
{% block content %}
    <div class="blog_container">
        <h2>{{ blog.title }}</h2>
        <div class="blog_container_author">
            <span> <u>Author:</u> {{ blog.author }}.</span>
            <span><u>Created at:</u>{{ blog.created_at|date:"Y-m-d" }}.</span>
            <span> <u>Update at:</u> {{ blog.updated_at|date:"Y-m-d" }}.</span>
        </div>
        <hr>
        <article>{{ blog.content | safe }}</article>
    </div>
{% endblock %}
