{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div class= "blog_container">
        <h1>Md Ahad Ali</h1>
        <i>Computer Science and Technology Engineer.</i>
        <div class="icon_container">
            <a href="mailto:ali@aliahad.com">
                <img src="{% static "icons/mail.svg" %}" alt="mail">
            </a>
            <a href="https://github.com/aliahadmd" target="_blank">
                <img src="{% static "icons/github.svg" %}" alt="github">
            </a>
            <a href="https://twitter.com/aliahad_" target="_blank">
                <img src="{% static "icons/x.svg" %}" alt="x">
            </a>
            <a href="https://linkedin.com/in/aliahadmd" target="_blank">
                <img src="{% static "icons/linkedin.svg" %}" alt="linkedin">
            </a>
        </div>
        <hr>
        <div class="container">{{ home.content|safe }}</div>
    </div>
{% endblock content %}
